.schedule-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 45%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.schedule-modal-content {
  width: 350px;
  background: white;
  padding: 20px;
  border-radius: 12px;
}

.schedule-modal-content label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

.schedule-modal-content input,
.schedule-modal-content textarea {
  width: 100%;
  padding: 7px;
  margin-top: 4px;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

button.close {
  background: #aaa;
  color: white;
}
