.bookreport-item-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  transition: transform 0.2s;
}

.bookreport-item-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.bookreport-item-thumb {
  width: 100%;
  height: 178px;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  background-color: #faebd7;
}

.bookreport-item-card .bookreport-item-thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.bookreport-item-card .bookreport-item-body {
  padding: 10px;
}

.bookreport-item-body h3 {
  font-size: 16px;
  margin: 5px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bookreport-item-body .bookreport-item-summary {
  font-size: 14px;
  color: #777;
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1rem;
  line-clamp: 3;
  box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
