.LoginWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center; /* 좌우 중앙 */
  align-items: center; /* 상하 중앙 */
  background-color: #f5f5f5;
}
.LoginScreen {
  display: grid;
  grid-template-columns: 1fr 1fr;

  border-radius: 5px;
  width: 60%;
  min-width: 500px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.LoginScreen section {
  border: 1px solid #696969;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.LoginScreen .left_section {
  border-right: 1px solid #696969;
}

.LoginScreen .right_section {
  border-left: 1px solid #696969;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.LoginScreen .left_section > img {
  border-radius: 3px;
  width: 100%;
  height: 100%;
}

.LoginScreen .right_section > a > img {
  width: 100%;
}

.LoginScreen .right_section h4 {
  font-size: 1rem;
  margin: 10px;
}

.LoginScreen .right_section a img {
  transition: filter 0.1s ease;
}

.LoginScreen .right_section a:hover img {
  filter: brightness(0.96);
}
