.weather-item {
  display: inline-flex;
  text-align: center;
  justify-content: center;
  border: 1px solid transparent;
  box-sizing: border-box;
}

.weather-item .weather-img {
  width: 37px;
  cursor: pointer;
}

.weather-item:not(.weather-item-detail):hover {
  border-color: black;
}

.weather-item.weather-item-selected {
  border-color: black;
}

.weather-item.weather-item-detail,
.weather-item.weather-item-detail img {
  cursor: default;
}

@media (max-width: 768px) {
  .weather-item .weather-img {
    width: 27px;
  }
}
