.Aside {
  background: #f6f6f6;
  border-right: 1px solid #ddd;
  padding: 20px;
  overflow-y: auto;
  transition: transform 0.3s ease;
  min-width: var(--h-s);
  width: var(--h-s);

  /* 스크롤바 숨기기 */
  -ms-overflow-style: none; /* IE, Edge 레거시 */
  scrollbar-width: none; /* Firefox */
  display: flex;
}

.Aside::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

.Aside .aside_title {
  margin: 0 0 12px;
  font-size: 1rem;
  color: #333;
}

.Aside .aside_list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.Aside .menu_list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.Aside li + li {
  margin-top: 10px;
}

.Aside a {
  color: #333;
  text-decoration: none;
  padding: 8px 10px;
  display: block;
  border-radius: 8px;
}

.Aside a:hover {
  background: #eaeaea;
}

.Aside .aside_list .menu_profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 30px;
  padding: 0px 20px;
}

.Aside .aside_list .project_name {
  padding-top: 16px;
  padding-bottom: 4px;
}

.Aside .aside_list .menu_profile > img {
  width: 94.5px;
  height: 94.5px;
  border: none;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}

.Aside .menu_logout {
  display: flex;
  justify-content: center;
}
.logout {
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin: 20px 0px;
  border-top: 1px solid #696969;
  border-bottom: 1px solid #696969;
  border-radius: 5px;
}
