.Button {
  background-color: rgb(236, 236, 236);
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 5px 20px;
  font-size: 18px;
  white-space: nowrap;
}

.Button_New {
  background-color: black;
  color: white;
}

.Button_New:hover {
  background: #464646;
}

.Button_Del {
  background-color: #dc143c;
  color: white;
}

.Button_Del:hover {
  background: #b90000;
}

.Button_Basic {
  background-color: #b3b3b3;
  color: white;
}

.Button_Basic:hover {
  background: #9e9e9e;
}

/* === 토글 버튼: 기본 숨김(데스크탑) */
.Button_Toggle {
  position: fixed;
  padding: 0;
  top: 16px;
  left: 16px;
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 50%;
  background: #333;
  color: #fff;
  font-size: 1.1rem;
  text-align: center;
  cursor: pointer;
  z-index: 500;
  display: none;
}
