.Header {
  display: flex;
  align-items: center;
  padding: 0 20px;
  font-size: 1.1rem;
  justify-content: center;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.Header > div {
  display: flex;
  flex-direction: column;
}

.Header .header_center {
  justify-content: center;
}

.Header > div > h1 {
  margin: 0px;
}
