.search-bar-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.search-bar-wrapper .search-input-wrapper {
  width: 600px;
  min-width: 222px;
  display: flex;
}

.search-bar-wrapper .search-input-wrapper .search-bar {
  width: 100%;
  padding-bottom: 7px;
  border: none;
  border-bottom: 2px solid #333;
  font-size: 14px;
  color: #999;
}

.search-bar-wrapper .search-input-wrapper button {
  border: none;
  background: none;
  border-bottom: 2px solid #333;
  cursor: pointer;
}

.search-bar-wrapper .search-bar:focus {
  outline: none;
}

.search-bar-wrapper button {
  font-size: 14px;
}

@media (max-width: 768px) {
  .search-bar-wrapper button {
    font-size: 13px;
  }
}
