.mymemory-editor-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 20px;
  max-width: 800px;
  min-width: 300px;
  margin: 0 auto;
}

.mymemory-editor-wrapper .mymemory-editor-header {
  width: 100%;
  padding-bottom: 12px;
  border-bottom: 1px solid #ccc;
}

.mymemory-editor-wrapper .mymemory-content-input {
  width: 100%;
}

.mymemory-content-input .toastui-editor-contents {
  min-height: 550px;
}

.mymemory-editor-header .mymemory-title-input {
  display: block;
  width: 100%;
  min-height: 40px;
  border: none;
  font-size: 23px;
  color: #202020;
  resize: none;
  outline: 0 none;
  line-height: 40px;
  overflow: hidden;
  letter-spacing: -0.4px;
  font-family: Pretendard-Regular, AppleSDGothicNeo-Regular, "Malgun Gothic",
    dotum, sans-serif;
}

.mymemory-editor-wrapper .mymemory-editor-action {
  display: flex;
  gap: 10px;
  justify-content: end;
  width: 100%;
}

.mymemory-editor-wrapper .mymemory-editor-action button {
  padding: 6px 14px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .mymemory-editor-wrapper {
    font-size: 13px;
    justify-content: flex-start; /* 가운데 말고 위쪽 배치 */
    align-items: stretch;
  }

  .mymemory-editor-wrapper .mymemory-editor-action button {
    font-size: 11px;
  }

  .mymemory-content-input .toastui-editor-contents {
    min-height: 500px;
  }

  .toastui-editor-popup {
    position: fixed !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;

    /* 화면 크기에 맞게 줄이기 */
    max-width: calc(100vw - 32px);
    width: calc(100vw - 32px);
    max-height: calc(100vh - 32px);
    box-sizing: border-box;

    margin-left: 0 !important;
    z-index: 3000; /* 에디터 위로 올라오게 */
    overflow: auto; /* 팝업 전체가 스크롤 가능 */
  }
}
